<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess"/>
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.128.208)(PORT=1521))(CONNECT_DATA= (SID = sykt)(SERVER = DEDICATED)));Password=ucrapp;User ID=ucrapp_y_qs;Min Pool Size=10;Connection Lifetime=100000;Connection Timeout=60;Incr Pool Size=5; Decr Pool Size=2" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <appSettings>
    <add key="IsTest" value="true" />
    <add key="TokenKey" value="1122334455" />
    <add key="City" value="SZ" />
    <!--add key="Mac2SocketServerHost" value="192.168.128.171"/>
    <add key="Mac2SocketServerPort" value="9999"/>-->
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
